.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 530px;
    height: 222px;
    margin: var(--spacing-small);
    padding: 16px;

    border: 1px solid var(--color-grey-light);
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 2px 4px rgba(72, 87, 97, 0.06);

    &:hover {
        border: 1px solid var(--color-accent);
    }

    &.selected {
        border: 1px solid var(--color-accent);
    }
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.textContainer {
    width: 80%;

    h3,
    p {
        width: 100%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
