.height_nano {
    height: var(--spacing-nano);
}

.height_small {
    height: var(--spacing-small);
}

.height_medium {
    height: var(--spacing-medium);
}

.height_large {
    height: var(--spacing-large);
}

.height_big {
    height: var(--spacing-big);
}

.height_huge {
    height: var(--spacing-huge);
}
