.root {
    flex: 1 1 0;
    width: 100%;
    min-height: 0;
    padding: 64px 32px;
    overflow: scroll;

    background-color: var(--color-gray_light40);
}

.sectionHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .seeAllLink {
        color: var(--color-accent);
        text-decoration: none;

        &:hover {
            color: var(--color-accent_dark);
            text-decoration: underline;
        }

        .seeAllLinkText {
            margin-right: var(--spacing-nano);
        }
    }
}
