.sectionHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .moreLink {
        color: var(--color-accent);
        text-decoration: underline;

        &:hover {
            color: var(--color-accent_dark);
        }

        .moreLabel {
            margin-right: var(--spacing-nano);

            text-transform: lowercase;
        }
    }
}
